<header class="header" id="header">     
 
      <div class="container">

        <div class="h1">      
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>  
        </div>

        <div class="h2">
          <div class="h21">
            <a href="/admin" class="logo_link" >           
              <img src="{{ asset('/assets/img/logo.png') }}" alt="Logo" class="logo_img"> 
            </a>
            <p>Admin</p>
          </div>        
        </div>

        <div class="h3">
          <div class="h31">
            <a href="/logout" class="log_link" > 
              <img src="{{ asset('/assets/img/login.png') }}" alt="Logout" class="login_img"> 
              <p>Logout</p>
            </a>            
          </div>
        </div>
        
      </div>    
</header>

