<div class="adminNavbar d-flex flex-row justify-content-around">
  <a href="/admin">
    <button type="submit" class="showMissions" >Afficher les missions</button>
  </a>
  <a href="/admin/missions">
    <button type="submit" class="showMissions" >Gestion des missions</button>
  </a>
  <a href="/admin/countries">
    <button type="submit" class="showMissions" >Gestion des pays</button>
  </a>
  <a href="/admin/agents">
    <button type="submit" class="showMissions" >Gestion des agents</button>
  </a>
  <a href="/admin/contacts">
    <button type="submit" class="showMissions" >Gestion des contacts</button>
  </a>
  <a href="/admin/targets">
    <button type="submit" class="showMissions" >Gestion des cibles</button>
  </a>
  <a href="/admin/stashes">
    <button type="submit" class="showMissions" >Gestion des planques</button>
  </a>
  <a href="/admin/specialities">
    <button type="submit" class="showMissions" >Gestion des spécialités</button>
  </a>
  <a href="/admin/status">
    <button type="submit" class="showMissions" >Gestion des statuts</button>
  </a>
  <a href="/admin/types">
    <button type="submit" class="showMissions" >Gestion des types</button>
  </a>
</div>