<div class="adminNavbar d-flex flex-row justify-content-around">  
  <a href="/admin">
    <button type="submit" class="showMissions" >Gestion des missions</button>
  </a>
  <a href="/admin/select_countries">
    <button type="submit" class="showMissions" >Gestion des pays</button>
  </a>
  <a href="/admin/select_agents">
    <button type="submit" class="showMissions" >Gestion des agents</button>
  </a>
  <a href="/admin/select_contacts">
    <button type="submit" class="showMissions" >Gestion des contacts</button>
  </a>
  <a href="/admin/select_targets">
    <button type="submit" class="showMissions" >Gestion des cibles</button>
  </a>
  <a href="/admin/select_stashes">
    <button type="submit" class="showMissions" >Gestion des planques</button>
  </a>
  <a href="/admin/select_specialities">
    <button type="submit" class="showMissions" >Gestion des spécialités</button>
  </a>
  <a href="/admin/select_status">
    <button type="submit" class="showMissions" >Gestion des statuts</button>
  </a>
  <a href="/admin/select_types">
    <button type="submit" class="showMissions" >Gestion des types</button>
  </a>
</div>