{% extends 'admin/index.html.twig' %}

{% block title %} {{ parent() }} - Gestion des agents {% endblock %}

{% block content %}
  
  <form action="" class="agentForm form">
  </form>
  <p>agentForm</p>

{% endblock %}






