{% extends 'admin/index.html.twig' %}

{% block title %} {{ parent() }} - Planques {% endblock %}

{% block content %}
  
  <form action="" class="stashForm form">
  </form>
  <p>stashForm</p>

{% endblock %}




