{% extends 'admin/index.html.twig' %}

{% block title %} {{ parent() }} - Gestion des cibles {% endblock %}

{% block content %}
  
  <form action="" class="targetForm form">
  </form>
  <p>targetForm</p>

{% endblock %}




