{% extends 'admin/index.html.twig' %}

{% block title %} {{ parent() }} - Gestion des types, status et spé. {% endblock %}

{% block content %}
  
  <form action="" class="typeStatusSpeForm form">
  </form>
  <p>typeStatusSpeForm</p>

{% endblock %}






