/* Font Times New Roman */
* {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
}

html, body { height: 100%; }
main { flex-grow: 1; } 

/* /////////////// */
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 70vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -70vw;
  background-color: #ffffff;
  /* padding-top: 60px; */
  transition: left 0.2s ease;
  display: flex;
  flex-direction: row;
}

/* Sidenav menu links */
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: flex;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 40px;
  height: 6px;
  background-color: black;
  margin: 6px 0;
  border: 1px;
}

/* Close btn */
.verticalLine {
  height: 100%;
  width: 100%;
  border: 2px solid #000000;
  flex-basis: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
}
.close {
  text-align: center;
}

.sidenav1 {
  flex-basis: 95%;
}

.cgu_side {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: #000000 2px solid;
}

.cgu_button {
  margin-bottom: 10px;
}

/* Half width for hr */
.hr_half {
  width: 50%;
  margin-left: 25%;
}

/* Title */
.title {
  text-align: center;
  margin: 5px;
}

/* Manage buttons */
.manage_area {
  height: 450px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  margin-top: 20px;
}
.manage_buttons {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage_b {
  height: 25px;
  width: 50%;
  justify-content: center;
}

.b_left {
  height: 100%;
  width: 100%;
  margin-left: -200px;
}

.b_right {
  height: 100%;
  width: 100%;
  margin-left: 200px;
}
/* //////////////// */
/* Home */

/* Header */
.header {
  border-bottom: #000000 2px solid;
}

.container {
  background-color: green;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h1,
.h2,
.h3 {
  background-color: blue;
  width: 100px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.login_link,
.logo_link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.login_img,
.logo_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Body */
.showMissions {
  margin: 30px;
  border-radius: 5px;
  padding : 3px;
}

.searchBar {
  margin-top: 30px;
  margin-bottom: 3vw;
  text-align: center;
}

.label {
  border:  #221db8 2px solid;
  border-radius: 5px;
  padding: 3px;
}

.searchField{
  margin-left: 0;
  height: 100%;
  width: 70vw;
}

.card-group {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
}
.card {
  margin: 20px;
}




/* Footer */
.footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  border-top: #000000 2px solid;
}

/* /////////// */
/* Admin */

.adminNavbar {
  border-bottom: #000000 2px solid;
}