<footer>
  <div class="footer">
    <a href="" class="CGU">  
      <div class="CGU">Consulter les CGU</div>
    </a>
    <div class="Copyright">CopyRight 2022 All Right Reserved.</div>
  </div>
</footer>