

<header >
      <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">×</a>
          <ul>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Nos services</a></li>
            <li><a href="#">Témoignages</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
      </div>
      <div class="container">
        <div class="h1">      
          <a href="#" id="openBtn">
          <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>  
        </div> 
        <div class="h2">
          <div class="h2-1">
            <a href="#" class="logo">
              <img src="{{ asset('/assets/img/logo.png') }}" alt="Logo" > 
            </a>
            <p>test</p>
          </div>        
        </div>
        <div class="h3">
          <div class="h3-1">
            <a href="#"  class="login">
              <img src="{{ asset('/assets/img/login.png') }}" alt="Login"> 
            </a>
            <p>test</p>
          </div>
        </div>
      </div>    
    </header>
