<div id="mySidenav" class="sidenav">          
          <div class="sidenav1">
            <div class="top_left">
              <div class="cgu_side">
                <div class="h2">
                  <div class="h21">
                    <a href="#" >           
                    <img src="{{ asset('/assets/img/logo.png') }}" alt="Logo" class="logo_img"> 
                    </a>
                    <p class="user">Visiteur</p>
                  </div>        
                </div>
                <a href="#" class="cgu_button">
                  <input type="button" value="CGU" />
                </a>
              </div>
            </div>
            <div class="title">
              <h2>Gérer</h2>
            </div>
            <hr class="hr_half">
            <div class="manage_area"> 
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton1" class="b_left" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton2" class="b_right" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton3" class="b_left" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton4" class="b_right" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton5" class="b_left" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton6" class="b_right" />
                </a>
              </div>
              <div class="manage_buttons">
                <a href="#" class="manage_b">
                  <input type="button" value="Bouton7" class="b_left" />
                </a>
              </div>
            </div>
          </div>
          <div class="verticalLine">
            <a id="closeBtn" href="#" class="close"><</a>
          </div>                    
      </div>